  <div class="well">
    {{#link-to 'item' item.id}}
      <p>{{item.name}}</p>
      <p>{{price-indicator item}}</p>
      <p><img class="thumbnail" src={{item.image}}></p>
    {{/link-to}}
    <button {{action "deleteItem" item}} class="btn btn-warning">delete item</button>
  </div>
